
@{
    ViewBag.Title = "ManageBooking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="position:absolute; z-index:99999; background:rgba(0, 0, 0,0.4); height:100%; width:100%;" class="loader hidden">
    <img src="~/assets/img/loader.gif" style="margin: 0;
          position: relative;
          top:150px;
          left: 35%;
          transform: translate(-50%, -50%);" 
         />
</div>
<section class="content-header">
    <h1>
        Manage Booking

    </h1>

</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    Select Booking For Confirmation
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">


                    <table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>BookingDate</th>
                                <th>Bike/Car</th>
                                <th>PickDate</th>
                                <th>ReturnDate</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>HireDetails</th>
                                <th>Status</th>


                                <th>Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@section scripts{


    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>





    <script>
        var Popup, dataTable, vehicleid;
        $(document).ready(function () {

            $("#employeeTable").DataTable(
                {
                    "ajax": {
                        "url": "/Booking/GetData",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "BookingId" },
                        { "data": "BookingDate" },
                        { "data": "Bike_CarName" },
                        { "data": "PickUpDate" },
                        { "data": "ReturnDate" },
                        { "data": "UserId" },
                        { "data": "Phone" },
                        { "data": "HireDetails" },
                        { "data": "Status" },



                        //{
                        //    "data": "BookingId", "render": function (data) {
                        //        vehicleid = data;
                        //        return "   <button id='show-button' class='btn btn-default btn-sm show' onclick=Confirm(" + data + ")><i class='fa fa-pencil'></i> Confirm</button> <button id ='hide-button' class='btn btn-primary btn-sm' onclick=Release(" + data + ")><i class='fa fa-pencil'></i> Release</button ><button class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</button>";


                        //             //return "<a class='btn btn-default btn-sm'  id='change' onclick=Confirm(" + data + ")><i class='fa fa-pencil'></i> Confirm</a> <a class='btn btn-primary btn-sm  hide'  id='hide' onclick=Release(" + data + ")><i class='fa fa-pencil'></i> Release</a> <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>";
                        //         },
                        //         "orderable": false,
                        //         "searchable": false,
                        //         "width": "150px"
                        //     }

                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                var id = data.BookingId;
                                var status = data.Status;
                                if (status == "Released") {
                                    return "<button class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + id + ")><i class='fa fa-trash'></i> Delete</button>"
                                }
                                if (status == "Pending") {
                                    return "<button id='show-button' class='btn btn-default btn-sm show' onclick=Confirm(" + id + ")><i class='fa fa-pencil'></i> Confirm</button>  <button class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + id + ")><i class='fa fa-trash'></i> Delete</button>"
                                }
                                if (status == "Confirmed") {
                                    return "<button id ='hide-button' class='btn btn-primary btn-sm' onclick=Release(" + id + ")><i class='fa fa-pencil'></i> Release</button > <button class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + id + ")><i class='fa fa-trash'></i> Delete</button>"
                                }
                               
                            }
                        }




                        ],
                        "language": {

                            "emptyTable": "No data found, Please click on <b>Add New Bike/Car</b> Button"
                        },

                        "buttons": [
                            {
                                extend: 'copy',
                                className: 'copyButton',
                                text: '<i class="fa fa-clone"></i> Copy'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fa fa-file-excel-o"></i> Excel'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="fa fa-file-pdf-o"></i> Pdf'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="fa fa-file-excel-o"></i> CSV'
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i> Print',
                                customize: function (win) {
                                    $(win.document.body)
                                        .css('font-size', '10pt')
                                        .prepend(
                                            '<img src="http://datatables.net/media/images/logo-fade.png" style="position:absolute; top:0; left:0;" />'
                                        );

                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                                }
                            }

                        ]

                    });
                });

        function Confirm(id) {
            swal({
                title: "Are you sure...?",
                text: "Are you sure want to Confirm ?",
                icon: "warning",
                buttons: true,

            })
                .then((willConfirm) => {
                    if (willConfirm) {
                        $(".loader").removeClass("hidden");
                        $.ajax({
                    type: "POST",
                    url: '@Url.Action("ConfirmBooking", "Booking")/' + id,
                    success: function (data) {
                        if (data.success) {
                            $(".loader").addClass("hidden");
                            $('#employeeTable').DataTable().ajax.reload()

                            swal("Booking Confirmed",data.message, "success");


                        } else {
                            $(".loader").addClass("hidden");
                            swal("Error!", data.message, "error");
                        }
                    }
                });
                    } else {
                        swal("Confirmation is canceled");
                    }
                });
            //if(confirm('Are You Sure to Confirm ?'))
            //{

            //}
        }
        function Release(id) {
            if(confirm('Are You Sure to Release ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReleaseBooking", "Booking")/' + id,
                    success: function (data) {
                        if (data.success) {
                            $('#employeeTable').DataTable().ajax.reload()

                            swal("Booking Released", data.message, "Success");

                        } else {
                            swal("Error!", data.message, "error");
                        }
                    }

                });
            }
        }

         function Delete(id) {
            if(confirm('Are You Sure to Delete this Booking ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Booking")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            $('#employeeTable').DataTable().ajax.reload()

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }



    </script>

}


@*<style>
        #show-button {
            cursor: pointer;
        }

        #hide-button {
            cursor: pointer;
            display: none;
        }

        /*Some stylings to the buttons*/
        #show-button, #hide-button {
            color: #fff;
            border-radius: 5px;
            padding: 10px 50px;
        }

        #show-button {
            background: #0703af;
        }

        #hide-button {
            background: #af2303;
        }
    </style>*@

